<form [formGroup]="form" >
    <div class="mb-3">
        <div class="my-3">
            <label for="nesimo" class="form-label">
                <strong>N-ésimo</strong>
            </label>
            <input type="number" 
                    class="form-control" 
                    id="nesimo" 
                    placeholder="Ingrese el termino N-ésimo"
                    formControlName="nesimo"
                    min="0"
                    (keyup.enter)="calcular()">
            <div *ngIf="nesimo?.touched && nesimo?.pristine || nesimo?.dirty" class="px-1">
                <span class="text-danger" *ngIf="nesimo?.hasError('required')">
                    El termino N-ésimo es requerido
                </span>
                <span class="text-danger" *ngIf="nesimo?.hasError('min')">
                    El termino {{ nesimo?.getError('min')?.actual}} 
                    debe der mayor a {{ nesimo?.getError('min')?.min}}
                </span>
            </div>
        </div>
        <button class="btn btn-primary my3 w-100"
                type="button"
                (click)="calcular()"
                [disabled]="form.invalid">
                Calcular
        </button>
    </div>
</form>